main .profile-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .profile-overview img {
  position: relative;
  max-width: calc(100% - 2rem);
  max-height: 25rem;
  border-radius: 1rem;
  background-color: var(--color-gray-light);
  z-index: 1;
  margin: 1rem 0;
}

#opus main .profile-overview img {
  cursor: pointer;
}

main .profile-overview h3 a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

main .opus-settings label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: var(--color-gray-dark);
  font-weight: bold;
}

main .opus-settings label input[type=checkbox] {
  font-size: 1rem;
}
main .opus-settings a {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  text-decoration: none;
}

main .opus-settings a:hover, main .opus-settings a:focus {
  transform: scale(1.03);
}

main .opus-settings input[type="submit"] {
  border-color: var(--color-white);
  margin: 0.5rem 0;
  width: 100%;
  margin-top: 1rem;
}

main .opus-settings input[type="submit"].deactivate {
  background-color: var(--color-gray-dark);
}
