<!DOCTYPE html>
<% if (userInfo.opusActive) { %>
<html lang="en" id="opus">
<% } else { %>
<html lang="en">
<% } %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='shortcut icon' type='image/x-icon' href='/resources/favicon.ico' />
  <link href="https://fonts.googleapis.com/css2?family=Medula+One&family=Montserrat:wght@400;700&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/global.css">
  <link rel="stylesheet" href="style/upload.css">
  <title>Upload Art</title>
</head>
<body>
  <header>
    <a href="#chat" class="disabled"><img src="../resources/chat.svg" alt="Chat Icon">Chat</a>
    <h1>Artwork</h1>
    <a href="profile"><img src="../resources/profile.svg" alt="Profile Icon">Profile</a>
</header>
  <main>
    <form action="/artwork" method="POST" enctype="multipart/form-data">
      <label>
        <% if (typeof(msg) != 'undefined') { %>
          <% if (error) { %>
            <span style="color: var(--color-error)"><%= msg %></span>
          <% } else { %>
            <span><%= msg %></span>
          <% } %>
        <% } %>
        <input type="file" name="image" accept=".jpg,.jpeg,.png">
      </label>
      <label>
        <span>Title</span>
        <input type="text" name="title" placeholder="Title of artwork">
      </label>
      <label>
        <span>Artform</span>
        <input type="text" name="artform" placeholder="eg. Painting">
      </label>
      <label class="row">
        <span>Own Work</span>
        <input type="checkbox" name="ownWork">
      </label>
      <button>Upload</button>
    </form>
  </main>
</body>
</html>
